/* styles.css */

/* Aplicar la fuente Roboto a toda la página */
* {
  font-family: 'Roboto', sans-serif;
}

.navbar-custom {
  background-color: #0D2C5E; /* Fondo azul */
}

.navbar-custom .navbar-brand h3 {
  font-weight: bold; /* Negrita para el título */
}

.navbar-custom .navbar-brand, 
.navbar-custom .nav-link {
  color: #ffffff; /* Letras en blanco */
}

.navbar-custom .nav-link:hover,
.navbar-custom .nav-link:focus {
  color: #c9c9c9; /* Cambia de color al hacer hover */
}

/* Estilos para el separador */
.navbar-separator {
  color: #ffffff; /* Color blanco para el separador */
  margin: 0 10px; /* Espaciado alrededor del separador */
  font-size: 0.7cm; /* Ajusta el tamaño del separador */
  vertical-align: middle; /* Baja el separador para que esté alineado con el texto */
}

a .icono-grande {
  margin-left: 20px;
  font-size: 2rem;  /* Puedes ajustar el tamaño a lo que necesites */
  color: black;
  margin-bottom: 0px;
}

.roadmap {
  border: #0D2C5E 2px solid;
}

.btn-primary:hover {
  background-color: #ffc107;
  color: #ffffff;
}

.btn-primary {
  background-color: #1c3d7b;
  border: none;
}

.btn-color {
  background-color:white;
  color: black;
}

.btn-color:hover {
  background-color: #0D2C5E;
  color: rgb(255, 255, 255);
}