/* styles.css */

/* Aplicar la fuente Roboto a toda la página */
* {
  font-family: 'Roboto', sans-serif;
}

.navbar-custom {
  background-color: #0D2C5E; /* Fondo azul */
}

.navbar-custom .navbar-brand h2 {
  font-weight: bold; /* Negrita para el título */
}

.navbar-custom .navbar-brand, 
.navbar-custom .nav-link {
  color: #ffffff; /* Letras en blanco */
  font-family: Arial, sans-serif; /* Cambiar la fuente aquí */
}

.navbar-custom .nav-link:hover,
.navbar-custom .nav-link:focus {
  color: #c9c9c9; /* Cambia de color al hacer hover */
}

/* Estilos para el separador */
.navbar-separator {
  color: #ffffff; /* Color blanco para el separador */
  margin: 0 10px; /* Espaciado alrededor del separador */
  font-size: 0.7cm; /* Ajusta el tamaño del separador */
  vertical-align: middle; /* Baja el separador para que esté alineado con el texto */
}