<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi perfil</title>

    <!-- Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/perfil.css">
    <link rel="stylesheet" href="../css/styles.css">
    <script src="../js/agregarNav.js"></script>
  </head>

  <body>
    <div id="navbar-container"></div>

    <div class="container">
      <div class="profile-card">
        <div class="profile-inf text-center">
          <h3>Mi perfil</h3>
        </div>

        <div class="profile-header text-center">
          <img src="../img/Woo.jpg" alt="Foto de perfil" class="profile-photo">
        </div>
        <div class="profile-info text-center">
          <h3>Woo Do Hwan</h3>
          <p><strong>Teléfono:</strong> +123 456 7890</p>
          <p><strong>Correo:</strong> IamWoo@gmail.com</p>
        </div>
        <div class="card mt-4">
          <div class="card-body">
            <h5 class="card-title">Información de la Tarjeta</h5>
            <p><strong>Número de Tarjeta:</strong> **** **** **** 1234</p>
            <p><strong>Fecha de Expiración:</strong> 12/25</p>
            <p><strong>Nombre del Titular:</strong> Nombre Apellido</p>
          </div>
        </div>
        <button class="btn btn-primary w-100 mt-4">Editar Información</button>
      </div>
    </div>



  </body>

</html>