<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Personalizar Perfil</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../css/registro_mejorado.css">
</head>

<body>
  <div class="container">
    <div class="left-section">
      <h1>¡Empecemos personalizando tu perfil!</h1>
    </div>
    <div class="right-section">
      <div class="progress">
        <span class="progress-indicator"></span>
        <span class="progress-indicator inactive"></span>
        <span class="progress-indicator inactive"></span>
      </div>
      <h2>¿Cómo te llamas?</h2>
      <form>
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre">
        <label for="primer-apellido">Primer apellido:</label>
        <input type="text" id="primer-apellido" name="primer-apellido">
        <label for="segundo-apellido">Segundo apellido:</label>
        <input type="text" id="segundo-apellido" name="segundo-apellido">
        <button type="button" class="next-button" onclick="window.location.href='registro2.html';">→</button>
      </form>
    </div>
  </div>
</body>
</html>
