<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Personalizar Perfil</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../css/registro_mejorado.css">
</head>

<body>
  <div class="container">
    <div class="left-section">
      <h1>¡Casi listo! Define tu acceso</h1>
    </div>
    <div class="right-section">
      <div class="progress">
        <span class="progress-indicator inactive"></span>
        <span class="progress-indicator inactive"></span>
        <span class="progress-indicator"></span>
      </div>
      <h2>Escoge una contraseña</h2>
      <form>
        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password">

        <label for="verify-password">Verificar Contraseña:</label>
        <input type="password" id="verify-password" name="verify-password">

        <button type="button" class="next-button" onclick="window.location.href='catalogo.html';">→</button>
      </form>
    </div>
  </div>
</body>
</html>
