<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Personalizar Perfil</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../css/registro_mejorado.css">
</head>

<body>
  <div class="container">
    <div class="left-section">
      <h1>¡Es hora de conectar!
Completa tus datos.</h1>
    </div>
    <div class="right-section">
      <div class="progress">
        <span class="progress-indicator inactive"></span>
        <span class="progress-indicator "></span>
        <span class="progress-indicator inactive"></span>
      </div>
      <h2>Registra tus datos</h2>
      <form>
        <label for="telefono">Teléfono:</label>
        <input type="text" id="telefono" name="telefono">
        <label for="correo">Correo electrónico:</label>
        <input type="text" id="correo" name="correo">
        <button type="button" class="next-button" onclick="window.location.href='registro3.html';">→</button>
      </form>
    </div>
  </div>

</body>
</html>