<!-- navbar.html -->
<nav class="navbar navbar-expand-lg navbar-custom navbar-dark">
  <div class="container-fluid">
    <!-- Logo en el extremo izquierdo -->
    <a class="navbar-brand d-flex align-items-center" href="#">
      Papelería
    </a>

    <!-- Botones en el extremo derecho -->
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="../views/catalogo.html">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../views/seguimiento.html">Mis pedidos</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="userMenu" role="button" data-bs-toggle="dropdown"
             aria-expanded="false">
            <i class="fas fa-user"></i> Mi cuenta
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userMenu">
            <li><a class="dropdown-item" href="#">Ver información</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Cerrar sesión</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
